{% extends "index.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex text-center">
        <h1 class="page-header text-center">{{post.title}}</h1> 
        <a href="{% url 'post_edit' pk=post.pk %}"><i class="ml-5 fas fa-edit fa-2x" style="color: #0667e6;"></i></a>
    </div>
    {% if post.published_date %}
        <h5 class="mb-2 text-muted">Published: {{post.published_date}}</h5>
    {% endif %}
    <p class="mt-4">{{post.text|linebreaksbr}}</p>

</div>


{% endblock %}