{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="text-center">
        <div class="mt-4">
            <i class="fas fa-user-circle fa-6x mb-2"></i>
            <h4>{{user}}</h4>
            <a href="{% url 'user_posts' pk=user.pk%}"><i class="fas fa-list"></i> View My Posts</a>
            <hr>
            <div class="d-flex justify-content-around mt-3 ml-5" style="color: #585858">
                <div>
                    <h4>Total Posts</h4>
                    <h4>{{user_posts}}</h4>
                </div>
                <div>
                    <h4>Saved Drafts</h4>
                    <h4>{{user_drafts}}</h4>
                </div>
                <div>
                    <h4>Comments by User</h4>
                    <h4>{{user_comments}}</h4>
                </div>
            </div>
    </div>

</div>

{% endblock %}